<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0 user-scalable=no" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href=css/style.css> <title>GMe&s</title>
</head>

<body oncontextmenu="return false" ondragstart="return false" onselectstart="return false">

    <!--THREE-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/108/three.js"></script>
    <script src="lib/Detector.js"></script>
    <script src="lib/TrackballControls.js"></script>

    <div>
        <div id="globe"></div>

        <nav>
            <p style="font-size:30px; font-weight: 600;">Fire Prevention<br>Image Cloud</p>
            <p style="font-size:15px; margin-top: -10px; line-height: 1.2em;font-weight: 100;">This project is to
                collect and display
                fire prevention images that have been taken by people all around the world. orem ipsum dolor sit amet,
                consectetur adipiscing elit. Praesent mollis hendrerit magna eget sollicitudin. Mauris bibendum risus at
                tellus elementum faucibus. In vel feugiat lectus, eget imperdiet dolor. Curabitur euismod finibus velit,
                dapibus varius sapien cursus vitae. Suspendisse quis urna non lorem bibendum elementum.</p>


            <!-- <div class="imgBox">
                <img src="<%= typeof imgUrl != 'undefined' ? imgUrl : '' %>" class="responsive-img">
            </div> -->

            <div class="imgBox2"
                style="margin:1em; padding:15px; border: 1px solid white; width: 270px; height: 200px; ">

            </div>

            <!-- <h2><%= typeof msg != 'undefined' ? msg : '' %></h2> -->

            <div class="cotainer">
                <form action="/upload" method="POST" enctype="multipart/form-data">

                    <div class="file-field input-field btn green darken-3"
                        style="float:left; margin-top: 0em; margin-left: 1em;">

                        <!-- <div class="file-path-wrapper validate">
                            <input class="file-path custom" type="text" placeholder="thisisasample.jpg">
                        </div> -->

                        <span> Upload </span>
                        <input name="myImage" type="file">


                    </div>


                    <div class="input-field">
                        <button type="submit" class="btn green darken-3"
                            style="float:right; margin-top: 0em; margin-right: 1em" name="action">Submit</button>
                    </div>

                </form>
            </div>


            <div>
                <p style="margin-top: 4em; padding: 15px">Powered by:
                    <a href="https://gmens-middle.herokuapp.com/"><img src="/img/gm-logo.png" width="230px"></a>
                </p>
            </div>
        </nav>



    </div>



    <script>
        const imageUrlArray = "<%=imgUrls%>".split(",")
    </script>













</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!--jQeury-->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="lib/threeGeoJSON.js"></script>
<script src="lib/earth.js"></script>

</html>