<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0 user-scalable=no" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="css/style.css">

    <!--jQeury-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <title>GMe&s</title>
</head>

<body oncontextmenu="return false" ondragstart="return false" onselectstart="return false">

    <!--THREE-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/108/three.js"></script>
    <script src="lib/Detector.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/16.3.5/Tween.min.js"></script>
    <script src="lib/TrackballControls.js"></script>
    <script src="lib/OrbitControls.js"></script>

    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
    <script>
        var arrLang = {
            'en': {
                'title': 'Fire Prevention <br> Image Cloud',
                'about': 'This project is to collect and display fire prevention images that have been taken by people all around the world. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mollis hendrerit magna eget sollicitudin. Mauris bibendum risus at tellus elementum faucibus. In vel feugiat lectus, eget imperdiet dolor. Curabitur euismod finibus velit,dapibus varius sapien cursus vitae. Suspendisse quis urna non lorem bibendum elementum.'
            },
            'kr': {
                'title': '화재 예방 <br> 이미지 클라우드',
                'about': '사람들이 업로드하는 화재 예방 이미지들을 수집하고, 그 이미지 데이터들을 시각화하는 프로젝트이다.'
            }
        };

        $(function () {
            $('.translate').click(function () {
                var lang = $(this).attr('id');
                $('.lang').each(function (index, element) {
                    $(this).html(arrLang[lang][$(this).attr('key')])
                })
            })
            $('.translate#en').trigger("click") // select the language when loads
        })


    </script>

    <div>

        <div id="globe">

        </div>
        <nav style="background: transparent; box-shadow: none; float:right; border:0px;">
            <div>
                <button class="translate" id="en"> EN </button>
                <button class="translate" id="kr"> KR </button>
            </div>
        </nav>

        <nav>
            <p class="lang" key="title" style="position: absolute; font-size:30px; font-weight: 600;"></p>
            <p class="lang" key="about" style="position: absolute; font-size:15px; margin-top: 80px; line-height: 1.2em; font-weight: 100;"></p>

            <div class="imgBox">
                <img id="blah" src="<%= typeof imgUrl != 'undefined' ? imgUrl : '' %>" class="responsive">
            </div>

            <!-- <h2><%= typeof msg != 'undefined' ? msg : '' %></h2> -->

            <div class="cotainer">
                <form action="/upload" method="POST" enctype="multipart/form-data">

                    <div class="file-field input-field btn green darken-3"
                        style="float:left; margin-top: 560px; margin-left: 1em;">

                        <!-- <div class="file-path-wrapper validate">
                            <input class="file-path custom" type="text" placeholder="thisisasample.jpg">
                        </div> -->

                        <span> Upload </span>
                        <input name="myImage" type="file" onchange="readURL(this);" />
                    </div>


                    <div class="input-field">
                        <button type="submit" class="btn green darken-3"
                            style="float:right; margin-top: 560px; margin-right: 1em" name="action">Submit</button>
                    </div>

                </form>
            </div>


            <div>
                <p style="position: absolute; margin-top: 600px; padding: 15px">Powered by:
                    <a href="https://gmens-middle.herokuapp.com/"><img src="/img/gm-logo.png" width="230px"></a>
                </p>
            </div>
        </nav>

    </div>

    <script>
        const recentUploaded = "<%=imgUrl%>"
        const imageUrlArray = "<%=imgUrls%>".split(",")
    </script>

</body>


<script src="lib/threeGeoJSON.js"></script>

<script src="lib/earth.js"></script>


</html>