<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0 user-scalable=no" />

    <link rel="stylesheet" href="css/animate.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="css/style.css">


    <!--jQeury-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/108/three.js"></script>
    <script src="lib/Detector.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/16.3.5/Tween.min.js"></script>
    <script src="lib/TrackballControls.js"></script>

    <title>GM E&S</title>

    <script>
        var rotationoff = false;
        var menu = false;
        function introFadeOut() {
            $(".intro").css("display", "none");
            $("div#globe").css("display", "block");
            $(".dropdownbutton").css("display", "block");
            rotationoff = true;
        }
        function showdes_main() {
            $(".introdes-main").css("display", "block");
        }

        function hidedes_main() {
            $(".introdes-main").css("display", "none");
        }
        function showdes() {
            $(".introdes-lab").css("display", "block");
        }
        function hidedes() {
            $(".introdes-lab").css("display", "none");
        }

        function showmenu() {
            menu = !menu;
            if (menu) {
                $("#navdiv").css("display", "block");
                $('.dot').css("-webkit-animation", "stop");
                $('.dot').css("-moz-animation", "stop");
                $('.dot').css("-o-animation", "stop");
                $('.dot').css("animation", "stop");
            } else {
                $("#navdiv").css("display", "none");
                $('.dot').css("-webkit-animation", "blinking 0.5s infinite");
                $('.dot').css("-moz-animation", "blinking 0.5s infinite");
                $('.dot').css("-o-animation", "blinking 0.5s infinite");
                $('.dot').css("animation", "blinking 0.5s infinite");
            }
        }

        var touchtimeMain = 0;
        var touchtimeLab = 0;


        $(function () {
            console.log('a');
            if (window.innerWidth < 768) {
                document.getElementById('mm').onclick = function () {
                    touchtimeMain += 1;
                    if (touchtimeMain === 1) {
                        showdes_main();
                        hidedes();
                        touchtimeLab = 0;
                    } else if (touchtimeMain === 2) {
                        window.location = "http://gmens-middle.herokuapp.com";
                    }
                }
                document.getElementById('tt').onclick = function () {
                    touchtimeLab += 1;
                    if (touchtimeLab === 1) {
                        showdes();
                        hidedes_main();
                        touchtimeMain = 0;
                    } else if (touchtimeLab === 2) {
                        introFadeOut();
                    }
                }
            } else {
                document.getElementById('mm').onmouseover = function () {
                    showdes_main();
                }
                document.getElementById('mm').onmouseout = function () {
                    hidedes_main();
                }
                document.getElementById('mm').onclick = function () {
                    window.location = "http://gmens-middle.herokuapp.com";
                }
                document.getElementById('tt').onmouseover = function () {
                    showdes();
                }
                document.getElementById('tt').onmouseout = function () {
                    hidedes();
                }
                document.getElementById('tt').onclick = function () {
                    introFadeOut();
                }
            }
        })

    </script>


</head>

<body oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
    <!-- <body> -->


    <div class="intro">
        <div class="animated fadeInDown" style="margin-top: 25vh; text-align:center;">
            <img id=mm src="/img/gm-logo-color.png" style="display: inline-block;">
            <img id="tt" src="/img/gm-lab-logo-white.png" style="display: inline-block;">
        </div>

        <div class="introdes-main">
            <p class="lang" style="line-height: 1.3em;" key="introdes-main"></p>
        </div>

        <div class="introdes-lab">
            <p class="lang" style="line-height: 1.3em;" key="introdes-lab"></p>
        </div>
    </div>

    <!-- 
    <div class="intro">
        <div class="animated fadeInDown" style="margin-top: 25vh; text-align:center;">
            <a href="http://gmens-middle.herokuapp.com"><img class src="/img/gm-logo-color.png" onmouseout="hidedes_main();"
                    onmouseover="showdes_main();" style="display: inline-block;"> </a>
            <img src="/img/gm-lab-logo-white.png" onmouseout="hidedes();" onmouseover="showdes();" 
                onclick="introFadeOut();" style=" display: inline-block;">
        </div>
    </div> -->

    <!-- read url function for image-->
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>

    <script>
        var arrLang = {
            'en': {
                'title': 'Fire Prevention <br> Image Cloud',
                'about': "Using their digital devices, users can upload images of fire prevention tools and infrastructures in their surroundings to the website's application. The images will be added to the collection on the website's 3D model of earth in real-time. During this process, the images will gradually undergo processing to turn from red, signaling fire and danger, to green, symbolizing safety. Not only can users upload images, they will be able to interact with the model earth to view other submissions and their corresponding information around the globe. This project will invoke direct participation from users via digital devices, therefore serving as a means to raise public awareness of social safety and fire prevention.",
                'introdes-main': 'Go to GM E&S main Homepage',
                'introdes-lab': "Our lab produces content and programs that highlight the vision of GM ENS, so that users can more comfortably and easily interact with ideas of public safety within a digital environment. Through interactive experiences with users, GM.ENS LAB's research and data-based visualization content is used to understand and develop the public's social safety awareness, in countries around the world."

            },
            'kr': {
                'title': '화재 예방 <br> 이미지 클라우드',
                'about': "사용자는 스마트폰과 컴퓨터를 활용하여 일상생활속의 화재예방 및 진압도구 사진들을 본 웹사이트 어플리케이션에 업로드를 할 수 있다. 이미지들은 실시간으로 3D 지구 오브젝트 위에 콜라주 형태로 시각화된다. 이 과정에서 이미지의 색상은 불을 상징하는 적색에서, 안전을 상징하는 녹색으로 변환 (이미지 프로세싱) 된다. 사용자는 이미지를 업로드를 할 수 있을 뿐만 아니라, 지구형태의 오브제를 확대, 회전하여 다른 사용자들이 업로드한 이미지의 정보를 확인할 수 있다. 이번 프로젝트는 디지털 디바이스를 통한 관객의 직접적인 참여를 통하여, 화재 점검의 중요성에 대한 인식을 제고하고 화재예방 및 안전문화 발전에 기여하고자 한다.",
                'introdes-main': '지엠이앤에스 메인 홈페이지',
                'introdes-lab': '지엠이앤에스 랩은 당사가 본질적으로 추구하는 방향에 대한 비전을 제시하는 프로그램 및 콘텐츠를 개발하며, 사용자가 보다 쉽고 편하게 안전을 인식하며 즐길 수 있는 디지털 환경을 제공합니다. 사용자와의 인터렉티브 경험을 통하여, 지앰이엔에스 랩의 연구 데이터 기반 비주얼 콘텐츠는 전세계 소비자들의 사회안전 인식 현황을 파악, 제고합니다.'
            }
        };

        $(function () {
            $('.translate').click(function () {
                var lang = $(this).attr('id');
                $('.lang').each(function (index, element) {
                    $(this).html(arrLang[lang][$(this).attr('key')])
                })
            })
            $('.translate#en').trigger("click") // select the language when loads
        })



    </script>



    <div id="globe"> </div>

    <div class="kren">
        <div class="translate" id="en">EN</div>
        <div class="translate" id="kr">KR</div>
    </div>

    <div class="dropdownbutton" onclick="showmenu();">
        <div class="dot"></div>
    </div>


    <div id="navdiv">
        <p class="lang" key="title" style="text-align: center; font-size:30px; font-weight: 600;"></p>

        <div id="imgBox">
            <img id="blah" src="<%= typeof imgUrl != 'undefined' ? imgUrl : '' %>" class="responsive">
        </div>

        <div class="cotainer" style="margin: 1em; text-align: center;">
            <form action="/upload" method="POST" enctype="multipart/form-data">
                <button class="file-field btn green darken-3" name="action">Upload <input name="myImage" type="file"
                        onchange="readURL(this);" /> </button>

                <button type="submit" class="btn green darken-3" name="action">Submit</button>
            </form>
        </div>


        <p class="lang" key="about" style="position: relative; font-size: 15px; line-height: 1.1em; font-weight: 100;">
        </p>

        <div style="text-align: center;">
            <p style="position: relative; padding: 15px">Powered by:<br>
                <a href="https://gmens-middle.herokuapp.com/"><img src="/img/gm-logo-white.png" style="width:15vh"></a>
            </p>
        </div>
    </div>



    <script>
        const recentUploaded = "<%=imgUrl%>"
        const imageUrlArray = "<%=imgUrls%>".split(",")
        const introOffBoolean = "<%=introOff%>"
        if (introOffBoolean === "true") {
            introFadeOut();
        }
    </script>


</body>

<script src="lib/threeGeoJSON.js"></script>
<script src="js/earth.js"></script>


</html>