@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@keyframes hide {
    0% {
        display: block;
        opacity: 1;
    }
    99% {
        display: block;
    }
    100% {
        display: none;
        opacity: 0;
    }
}

body {
    background-color: black;
    margin: auto 0;
}

.dropdownbutton{
    margin: 1em;
    position: relative;
    display:block;
    color:white;
    z-index: 1;
}

.navdiv {
    display: none;
    box-shadow: none;
    color: white;
    background: rgba(255, 0, 0, 0.5);
    margin: 10px;
    width: 300px;
    position: relative;
    z-index: 1;
}

.intro {
    /* display: block; */
    position: absolute;
    z-index: 2;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    height: 100vh;
    width: 100%;
}

p {
    font-family: 'Bangla Sangam MN';
    line-height: 1em;
    margin: 0;
    padding: 15px;
}

.translate {
    float: right;
    font-size: 20px;
    background: transparent;
    color: white;
    border: none;
    display: inline;
}

.kren {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99;
}

button:hover {
    font-weight: bold;
}

button:focus {
    font-weight: bold;
    background: transparent;
    text-decoration: underline;
}

#globe {
    display: block;
    position: absolute !important;
    background: transparent;
    z-index: 0;
    height: 100vh;
}

h1 {
    font-size: 25px;
    color: aliceblue;
    text-align: center;
}

h2 {
    font-size: 15px;
    color: aliceblue;
    text-align: center;
}

.custom {
    color: white;
}

.inputBox {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    float: left;
    text-align: left;
    /* border-width: thin;
            border-style: groove;
            border-color: red; */
    padding: 1px;
    background-color: transparent;
    margin: 0px;
}



.responsive {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

.intro img {
    opacity: 0.9;
    transition: all 0.5s;
    transition-property: opacity, transform;
}

.intro img:hover {
    opacity: 1.0;
    transform: scale(1.3);
    cursor: pointer;
}

.introdes-main{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    display: none;
    margin-top: 50px;
    text-align: center;
    font-size: 15px;
    width: 450px;
}

.introdes-lab{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    display: none;
    margin-top: 50px;
    text-align: center;
    font-size: 15px;
    width: 450px;
}




.imgBox {
    position: relative;
    border: 1px solid white;
    width: 270px;
    height: 200px;
    padding: 15px;
    margin-left: 1em;
}

.btn {
    width: 130px;
    text-align: center;
}

.logoImgBox {
    position: absolute;
    top: 80%;
    left: 15%;
    transform: translate(-50%, -50%);
}